<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Не найдено</title>
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <p>Переводы для аниме не найдены.</p>
    <a href="/">Вернутся к поиску</a>
  </body>
</html>
